USE [master]
GO
/****** Object:  Database [BookStoreApp]    Script Date: 12/22/2019 5:34:10 PM ******/
CREATE DATABASE [BookStoreApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookStoreApp', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BookStoreApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookStoreApp_log', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BookStoreApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookStoreApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookStoreApp]
GO
USE [BookStoreApp]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/22/2019 5:34:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Books]    Script Date: 12/22/2019 5:34:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Author] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [float] NOT NULL,
	[Rating] [int] NOT NULL,
	[Stock] [int] NOT NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20191221184225_InitialCreate', N'2.1.8-servicing-32085')
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

GO
INSERT [dbo].[Books] ([Id], [Name], [Author], [Description], [Price], [Rating], [Stock], [Image]) VALUES (1, N'Lorem ipsum dolor sit amet', N'Juanita Fowler', N'Lorem ipsum dolor sit amet, cum postea laoreet eu. Ne duo minimum percipitur, tempor accumsan in vel, iriure constituto ius cu. Mea ne dictas scribentur signiferumque. Quo ne nonumy civibus, an vix viderer voluptua. Id praesent honestatis sit, eu nec omnis convenire intellegat, habeo efficiantur ad sed. Usu ad diam salutandi, est et nibh necessitatibus.', 10, 5, 100, N'1.png')
GO
INSERT [dbo].[Books] ([Id], [Name], [Author], [Description], [Price], [Rating], [Stock], [Image]) VALUES (2, N'Eu vim lorem ridens', N'Jenna Parks', N'Eu vim lorem ridens, eum molestie quaestio no. Saepe forensibus necessitatibus eu cum, mel cu perpetua euripidis moderatius. Sale dicta ullamcorper pro ei. Molestie interpretaris cum et, ex fugit eloquentiam mea. Ea copiosae euripidis scripserit eos, pri dicam fastidii maiestatis at.', 12, 4, 100, N'2.png')
GO
INSERT [dbo].[Books] ([Id], [Name], [Author], [Description], [Price], [Rating], [Stock], [Image]) VALUES (3, N'Mea ex sumo aperiam', N'Belinda Ortiz', N'Mea ex sumo aperiam. An per nostro iisque voluptaria. Omittam appareat vim et, an usu tantas audiam argumentum. An vel vero altera, qui audiam aeterno in, ridens neglegentur cu eos. Meis honestatis ad vis, nobis salutandi scriptorem an mea. Pro amet vidisse luptatum cu, usu ea accusam vivendum rationibus.', 8, 2, 100, N'3.png')
GO
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
USE [master]
GO
